header h1 {
  display: inline;
  font-size: 45px;
  font-family: arial;
  vertical-align: 40%;
  margin-left: 20%;
  color: #FFFFFF;
}

header {
  background-color: #384245;
  padding-bottom: 0px;
  height: 100px;
}

body{
  padding: 0px;
  margin-left:10%;
  margin-right:10%;
  background-color: #F3F5F6;
  text-align: center;
  font-family: arial;
}

.shirt-logo{
  margin-top: 18px;
  margin-left: -30%;
}

.meh-shirt{
  width: 40%;
  margin-top: 20px;
}

h2{
  color: grey;
}
